* {
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none !important;
    background: #3697FF;
    /*color: #3697FF !important;*/
}

/**********************header**********************/
#header {
    position: fixed;
    width: 100%;
    height: 60px;
    top: 0;
    color: #FFFFFF;
    background: #7a72d8;
    /*box-shadow: 1px 0 15px #666363;*/
    z-index: 500;
    /*border: 1px solid red;*/
}
#header #left {
    width: 250px;
    height: 60px;
    line-height: 59px;
    text-align: center;
    float: left;
    background: rgba(28, 34, 41, 0.3);
}
#header #left #title{
    display:block;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 30px;
}
#header i#top_icon {
    color: #FFFFFF;
    line-height: 60px;
    font-size: 30px;
    padding: 0 30px;
}
#header #right {
    float: left;
    margin-right: 10px;
    line-height: 60px;
    float: right;
}
#header #right ul li {
    display: inline-block;
    float: left;
    color: #FFFFFF;
    margin-right: 20px;
}
#header #right ul li a i{
    color: #FFFFFF;
}
#header #right ul li span{
    color: #FFFFFF;
}
.dropdown-menu {
    top: 60px !important;
    min-width: 30px !important;
    right: 0 !important;
}
.dropdown-toggle:hover {
    background: none !important;
    border-color: #3697FF !important;
}
.dropdown-toggle {
    color: #FFFFFF !important;
    background: none !important;
    border-color: #3697FF !important;
}

/**********************sidebar**********************/
#sidebar {
    background: #373F45;
    position: fixed;
    width: 250px;
    top: 0px;
    bottom: 0px;
}
.sidebar_menu {
    margin-top: 60px;
}
.treeview {
    display: block;
    margin: 0;
    padding: 0;
    border: 0px;
}
.treeview > a {
    display: block;
    overflow: hidden;
    padding-left: 0px;
    line-height: 40px;
    color: #cfd7de;
    transition: all .3s;
    position: relative;
    text-decoration: none;
    font-size: 17px;
    border-top: 1px solid #222932;
    /*border-bottom: 2px solid #373F45;*/
    padding-left: 25px;
    color: #CEC8C8 !important;
}
.treeview a i{
    line-height: 40px;
    margin-right: 15px;
}
.angle:before {
    display: block;
    float: right;
    margin-top: 1px;
    margin-right: 15px;
    display: inline;
    font-size: 16px;
    font-family: FontAwesome;
    height: auto;
    content: "\f105";
    font-weight: 300;
    text-shadow: none;
}
.angle.open:before {
    float: right;
    margin-top: 1px;
    margin-right: 15px;
    display: inline;
    font-family: FontAwesome;
    height: auto;
    font-size: 16px;
    content: "\f107";
    font-weight: 300;
    text-shadow: none;
}
.treeview > a.active,
.treeview > a:hover {
    color: #FFF;
    background: #1f292f;
}
.treeview_menu {
    display: none;
    list-style: none;
    clear: both;
    /*margin: 3px 0px 0px 0px;*/
    padding-top: 5px;
    padding-left: 40px !important;
}
.treeview_menu li {
    background: none;
    margin-bottom: 5px;
    padding: 0px;
}
.treeview_menu li a {
    display: block;
    font-size: 16px;
    line-height: 36px;
    padding-left: 20px;
    /*margin-top: 2px;*/
    color: #ABB1B7 !important;
    clear: both;
}
.treeview_menu li a.active,
.treeview_menu li a:hover {
    color: #0f0f0f !important;
    background: #ffffff;
    border: 1px solid #ffffff;
}


/**********************content**********************/
#content {
    /*position: absolute;*/
    /*float: left;*/
    width: auto;
    margin-top: 60px;
    margin-left: 250px;
    padding: 10px;
    background: #F5F5F5;
    /*border: 1px solid red;*/
}
